<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pmproject.dao.TimeoffDAO">
	<select id ="selectTimeoffList" resultType="pmproject.vo.TimeoffVO">
		select * from termination;
	</select>
	<select id="selectTimeoff" resultType="pmproject.vo.TimeoffVO">
  		select * from termination where tm_ep_id = #{ep_id}
 	 </select>
 	 <update id="updateTimeoff">
        update termination
	    set
	    tm_date = #{dbTimeoff.tm_date},
	    tm_reason = #{dbTimeoff.tm_reason}
	    where tm_num = #{dbTimeoff.tm_num}
	</update>
  	<insert id="insertTimeoff">
  		insert into `leave`(le_start_date, le_end_date, le_type, le_ep_id) values(#{leave.le_start_date},#{leave.le_end_date},#{leave.le_type},#{leave.le_ep_id})
  	</insert>
  	<select id="selectLeaveList" resultType="pmproject.vo.LeaveVO">
  		select * from `leave` where le_ep_id = #{ep_id}
  	</select>
  	<update id="updateLeave">
  		update `leave` set le_start_date = #{le_start_date}, le_end_date = #{le_end_date}, le_type = #{le_type} where le_num = #{le_num}
  	</update>
</mapper>





